# Auto-detect text files and normalize line endings.
* text=auto

*.bat text eol=crlf
*.cs text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.ini text eol=lf
*.md text eol=lf
*.uplugin text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.png binary
*.uasset binary
*.umap binary
*.dll binary
*.lib binary
*.pdb binary
